# Core functionality - changes here should be rare!
/src/app.py                   @b4ssem
/src/backend/database.py      @b4ssem
/src/backend/routers/auth.py  @b4ssem

# The frontend will need refactored soon to be more object oriented.
/src/static/   @b4ssem
